{% extends "RestoMainBundle::layout.html.twig" %}
{% block fos_user_content %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    

    <label for="username">{{ 'Username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="" required="required" />

    <label for="password">{{ 'Password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'Se souvenir de moi'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>

{% endblock %}