<html>
  <head>
    <title>Fast Lunch</title>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link href="{{ asset('css/bootstrap-spinner.css') }}" rel="stylesheet">
    <!-- Mon CSS -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style_plus.css') }}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon">
  </head>

  <body>
  <!-- CONTENEUR PRINCIPAL -->
  <div class="row-fluid page">
    <div class="span10 offset1">

      <!-- HEADER -->
      <div class="row-fluid header">
        <div class="span12">
          <a href="{{ path('resto_homepage') }}">
            <img src="{{ asset('images/fastlunch-logo.png') }}">
          </a>
        </div>
      </div>

      <!-- BARRE DE NAVIGATION -->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li>
                  <a href="{{ path('resto_homepage') }}"><span class="icon-home"></span> Acceuil</a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                  <a href="{{ path('resto_theme') }}"><span class="icon-th"></span> Thèmes</a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                  <a href="mailto:info@fastlunch.fr"><span class="icon-envelope"></span> Contact</a>
                </li>
                <li class="divider-vertical"></li>
              </ul>

              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li>
                  <a href="#"><span class="icon-wrench"></span> Administration</a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                  <a href="{{ path('fos_user_security_logout') }}"><span class="icon-off"></span> Déconnexion</a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                  <a href="{{ path('resto_panier') }}"><span class=" icon-shopping-cart"></span> Panier</a>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="{{ path('resto_panier') }}"><span class="badge badge-inverse">{{ render(controller("RestoMainBundle:Resto:total")) }} €</span></li></a>
              </ul>
              <p class="navbar-text pull-right">Connecté en tant que <a href="" class="navbar-link">{{ app.user.username }}</a></p>
              {% else %}
              <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li>
                  <a href="{{ path('fos_user_security_login') }}"><span class="icon-ok-circle"></span> Connexion</a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                  <a href="/app.php/register"><span class="icon-plus-sign"></span> Inscription</a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                  <a href="{{ path('resto_panier') }}"><span class=" icon-shopping-cart"></span> Panier</a>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="{{ path('resto_panier') }}"><span class="badge badge-inverse">{{ render(controller("RestoMainBundle:Resto:total")) }} €</span></li></a>
              </ul>
              <p class="navbar-text pull-right">Vous n'êtes pas connecté</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

        <!-- CONTENU DE LA PAGE -->
        <div class="row-fluid">
          <div class="span12">

            {% block contenu %}
            {% endblock %}

          </div>
        </div>

      <!-- FOOTER -->
      <hr>
      <footer>
        <a href="http://iut-charlemagne.univ-lorraine.fr"><img style="float: left; width: 250px; heigt: 50px;" src="{{ asset('images/iut_ul.jpg') }}" alt="http://iut-charlemagne.univ-lorraine.fr/"></a>
        <p style="float: right;">© Crazy Charly Day 2014</p>
      </footer>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="{{ asset('js/jquery.spinner.js') }}"></script>
      <script src="{{ asset('js/main.js') }}"></script>
    <!-- FIN -->
    </div>
  </div>
  </body>
</html>