{% extends "RestoMainBundle::mainLayout.html.twig" %}

{% block contenu %}
<!-- FIL D'ARIANNE -->
<div class="row-fluid arianne">
	<div class="span12">
	  <a href="{{ path('resto_homepage') }}">Accueil</a> > Panier
	</div>
</div>

<h1>Votre panier : </h1>

<table>
	<tr><th>Nom de l'article</th><th>Quantité</th><th>Prix</th></tr>
	{% for entree in panier %}
	{% if entree.nom is defined %}
		<tr><td> {{ entree.nom }} </td><td> {{ entree.quantite }} </td><td> {{ entree.prix }} </td> <td> {% if entree.id is defined %}
		<a href="{{ path('resto_supprime_article',{'id': entree.id}) }}" onclick="return confirm('Vous supprimer cette ligne?')"<span class="icon-remove"></span>></a>
		{% endif %}</td> </tr>
		
		{% endif %}
	{% endfor %}
		<tr><td></td><td>Total</td><td> {{ total }} </td>
	</table>
<hr/>

{% endblock %}