{% extends "RestoMainBundle::mainLayout.html.twig" %}

{% block contenu %}

<!-- RESTO -->
<div class="hero-unit">
	<h1>{{ resto.nom }}</h1>
	<p style="font-size: 0.6em; text-align: right;"><strong>Adresse : </strong>{{ resto.adresse }}</p>
	<p style="font-size: 0.6em; text-align: right;"><strong>Mail : <a href="mailto:{{ resto.mail }}">{{ resto.mail }}</a></p>
	<p style="font-size: 0.6em; text-align: right;"><strong>Tel : <a href="telto:{{ resto.tel }}">{{ resto.tel }}</a></p>
	<hr>
	<p>{{ resto.description }}</p>

</div>

<div class="row-fluid">
	<div class="span12">

		
		{% for unplat in plats %}
		<div class="span3 plats">
			<div class="thumbnail plat">
				<img data-src="holder.js/150x150" alt="{{ unplat.nom }}" style="width: 150px; height: 150px;" src="{{ asset('images/plats/originales/' ~ unplat.photo) }}">
				 <div class="caption">
				 	<h3>{{ unplat.nom }}</h3>
				 	<p>{{ unplat.description }}</p>
				 	<p>


				 		<a class="btn btn-primary btn-ajoute-panier" href="#" >Ajouter au panier</a>
				 


				 		<div class="input-append spinner" data-trigger="spinner">
						<input class='input-add-value' id-plat='{{ unplat.id }}' type="text" value="1" data-rule="quantity" name="quantite">
						<div class="add-on"> 
							<a href="javascript:;" class="icon-arrow-up" data-spin="up"><i class="icon-sort-up"></i></a> 
							<a href="javascript:;" class="icon-arrow-down" data-spin="down"><i class="icon-sort-down"></i></a> 
						</div>
						</div>
				 		<a class="btn disabled" href="#">{{ unplat.prix }} €</a>

				 	</p>
				 </div>
			</div>
		</div>
		{% endfor %}


	</div>
</div>

{% endblock %}