

























{% extends "RestoMainBundle::mainLayout.html.twig" %}

{% set page_title = 'Thèmes' %}

{% block contenu %}

<div class="row-fluid themes">
{% for untheme in themes %}
	<div class="span4 theme"><img class="img-circle" alt="{{ untheme.nom }}" style="width: 140px; height: 140px;" src="{{ asset('images/themes/' ~ untheme.nom  ~ '.png') }}"><h2>{{untheme.nom}}</h2>
	<p>{{untheme.description}}</p>
	<p><a class="btn" href="{{ path('resto_theme',{'themeid':untheme.id})}}">Voir les restaurants »</a></p>
	</div>
{% endfor %}
</div>

{% endblock %}