
{% extends "RestoMainBundle::mainLayout.html.twig" %}

{% block contenu %}
<!-- FIL D'ARIANNE -->
<div class="row-fluid arianne">
	<div class="span12">
	  <a href="{{ path('resto_homepage') }}">Accueil</a> > Thèmes
	</div>
</div>

<div class="row-fluid themes">
{% for untheme in themes %}
	<div class="span4 theme">
		{% if((untheme.nom == 'Chinois') or (untheme.nom == 'Mexicain') or (untheme.nom == 'Japonais') or (untheme.nom == 'Pizza') or (untheme.nom == 'Indien')) %}
	<img class="img-circle" alt="{{ untheme.nom }}" style="width: 140px; height: 140px;" src="{{ asset('images/themes/' ~ untheme.nom  ~ '.png') }}">
		{% else %}
		<img class="img-circle" alt="{{ untheme.nom }}" style="width: 140px; height: 140px;" src="{{ asset('images/themes/defaut.png') }}">
		{% endif %}
	<h2>{{untheme.nom}}</h2>
	<p>{{untheme.description}}</p>
	<p><a class="btn" href="{{ path('resto_theme',{'themeid':untheme.id})}}">Voir les restaurants »</a></p>
	</div>
{% endfor %}
</div>

{% endblock %}