{% extends "RestoMainBundle::mainLayout.html.twig" %}

{% block contenu %}
<!-- FIL D'ARIANNE -->
<div class="row-fluid arianne">
	<div class="span12">
	  <a href="{{ path('resto_homepage') }}">Accueil</a> > <a href="{{ path('resto_theme') }}">Thèmes</a> > {{ nomtheme }}
	</div>
</div>

<div class="row-fluid restaurants">
{% for restaurant in restos %}
	<div class="span4 restaurant">
	<img class="img-circle" alt="{{restaurant.nom}}" style="width: 140px; height: 140px;" src="{{ asset('images/themes/defaut.png') }}">
	<h2>{{restaurant.nom}}</h2>
	<p>{{restaurant.description}}</p>
	<hr>
	<p><strong>Adresse :</strong> {{restaurant.adresse}}</p>
	<p><strong>Mail :</strong> <a href="mailto:{{restaurant.mail}}">{{restaurant.mail}}</a></p>
	<p><strong>Tel :</strong> <a href="telto:{{restaurant.tel}}">{{restaurant.tel}}</a></p>
	<hr>
	<p><a class="btn" href="{{ path('resto_resto',{'restoid':restaurant.id})}}">Voir les plats »</a></p>
	</div>
{% endfor %}
</div>

{% endblock %}